@import "tailwindcss";
@import "lenis/dist/lenis.css";
@import "./base.css";
@import "./layout.css";
@import "./component.css";
@import "./utilities.css";

:root {
  /* adaptives / font-size (desktop) */
  --text-heading-1: 54px;
  --text-heading-2: 40px;
  --text-heading-3: 30px;
  --text-heading-4: 18px;
  --text-heading-5: 20px;
  --text-heading-6: 16px;
  --text-body-1: 18px;
  --text-body-2: 16px;
  --text-body-3: 16px;
  --text-body-4: 14px;
  --text-button: 16px;

  /* adaptives / line-height (desktop) */
  --text-heading-1-lh: 62px;
  --text-heading-2-lh: 44px;
  --text-heading-3-lh: 34px;
  --text-heading-4-lh: 24px;
  --text-heading-5-lh: 24px;
  --text-heading-6-lh: 22px;
  --text-body-1-lh: 26px;
  --text-body-2-lh: 22px;
  --text-body-3-lh: 22px;
  --text-body-4-lh: 18px;
  --text-button-lh: 22px;
}

@media screen and (max-width: 1024px) {
  :root {
    --text-heading-1: 46px;
    --text-heading-2: 34px;
    --text-heading-3: 26px;
    --text-heading-5: 18px;
    --text-body-3: 14px;

    --text-heading-1-lh: 52px;
    --text-heading-2-lh: 40px;
    --text-heading-3-lh: 30px;
    --text-heading-5-lh: 22px;
    --text-body-3-lh: 18px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --text-heading-1: 40px;
    --text-heading-2: 30px;
    --text-heading-3: 24px;
    --text-heading-4: 18px;
    --text-heading-5: 16px;

    --text-heading-1-lh: 42px;
    --text-heading-2-lh: 40px;
    --text-heading-3-lh: 28px;
    --text-heading-4-lh: 24px;
    --text-heading-5-lh: 22px;
  }
}

@theme {
  /* typography */
  --font-heading: var(--next-font-montserrat), sans-serif;
  --font-body: var(--next-font-dm-sans), sans-serif;
  --font-inter: var(--next-font-inter), sans-serif;

  /* colors / main */
  --color-cherry: #682535;
  --color-soft-ivory: #fbf7f5;
  --color-grey: #4a4a4a;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-cherry-light: #6825350d;

  /* base sizes */
  --spacing: 1px;

  /* spacing / gap */
  --spacing-gap-01: 6px;
  --spacing-gap-02: 7px;
  --spacing-gap-03: 8px;
  --spacing-gap-04: 10px;
  --spacing-gap-05: 15px;
  --spacing-gap-06: 20px;
  --spacing-gap-07: 30px;
  --spacing-gap-08: 40px;
  --spacing-gap-09: 60px;
  --spacing-gap-10: 80px;
  --spacing-gap-11: 100px;
  --spacing-gap-12: 120px;
  --spacing-gap-13: 140px;
  --spacing-gap-14: 150px;
  --spacing-gap-15: 200px;

  /* constants / border */
  --border-width-sm: 1px;
  --border-width-md: 6px;
  --border-width-lg: 10px;

  /* constants / radius */
  --radius-esm: 10px;
  --radius-sm: 20px;
  --radius-md: 30px;
  --radius-lg: 100px;

  /* adaptives / font-size + line-height (text-* sets both) */
  --text-heading-1: var(--text-heading-1);
  --text-heading-1--line-height: var(--text-heading-1-lh);
  --text-heading-2: var(--text-heading-2);
  --text-heading-2--line-height: var(--text-heading-2-lh);
  --text-heading-3: var(--text-heading-3);
  --text-heading-3--line-height: var(--text-heading-3-lh);
  --text-heading-4: var(--text-heading-4);
  --text-heading-4--line-height: var(--text-heading-4-lh);
  --text-heading-5: var(--text-heading-5);
  --text-heading-5--line-height: var(--text-heading-5-lh);
  --text-heading-6: var(--text-heading-6);
  --text-heading-6--line-height: var(--text-heading-6-lh);
  --text-body-1: var(--text-body-1);
  --text-body-1--line-height: var(--text-body-1-lh);
  --text-body-2: var(--text-body-2);
  --text-body-2--line-height: var(--text-body-2-lh);
  --text-body-3: var(--text-body-3);
  --text-body-3--line-height: var(--text-body-3-lh);
  --text-body-4: var(--text-body-4);
  --text-body-4--line-height: var(--text-body-4-lh);
  --text-button: var(--text-button);
  --text-button--line-height: var(--text-button-lh);

  /* spacing / line-height */
  --leading-heading-1: var(--text-heading-1-lh);
  --leading-heading-2: var(--text-heading-2-lh);
  --leading-heading-3: var(--text-heading-3-lh);
  --leading-heading-4: var(--text-heading-4-lh);
  --leading-heading-5: var(--text-heading-5-lh);
  --leading-heading-6: var(--text-heading-6-lh);
  --leading-body-1: var(--text-body-1-lh);
  --leading-body-2: var(--text-body-2-lh);
  --leading-body-3: var(--text-body-3-lh);
  --leading-body-4: var(--text-body-4-lh);
  --leading-button: var(--text-button-lh);
}
