@utility text-* {
  font-size: calc(--value(integer) * 1px);
}
@utility rounded-* {
  border-radius: calc(--value(integer) * 1px);
}
@utility border-* {
  border-width: --value(--border-width-*);
  border-width: calc(--value(integer) * 1px);
}
@utility grid-cols-header {
  grid-template-columns: 1fr auto 1fr;
}
